<nlog throwExceptions="true"
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="database" xsi:type="Database"
				connectionStringName="DBLossSoundsEntities"
				commandText="INSERT INTO ExceptionLog (RecordDate, Level, Logger, Message, Exception, StackTrace) VALUES (@timeStamp, @level, @logger, @message, @exception, @stackTrace)">
			<parameter name="@timeStamp" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception}" />
			<parameter name="@stackTrace" layout="${stacktrace}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>


</nlog>